header {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: cornflowerblue;
  }
  
  .name {
    margin-left: auto;
    text-align: center;
    font-size: 2.5rem;
    padding-right: 0.5em;
    text-decoration: none;
    color: cornsilk;
  }
  
  .icon {
    width: 5vw;
    margin-left: 1em;
  }

.header-content {
  display: flex;
  align-items: center;
}

.slogan {
  font-style: italic;
  font-size: 24px; /* Adjust the font size as needed */
  font-family: "Georgia", serif;
  color: white;
  margin-left: 10px; /* Adjust the margin as needed */
}
